<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InsertarEsquema</servlet-name>
        <servlet-class>Controladores.InsertarEsquema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarEsquemas</servlet-name>
        <servlet-class>Controladores.ListarEsquemas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserTabla</servlet-name>
        <servlet-class>Controladores.InserTabla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InseColumna</servlet-name>
        <servlet-class>Controladores.InseColumna</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarTablas</servlet-name>
        <servlet-class>Controladores.ListarTablas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarUnidad</servlet-name>
        <servlet-class>Controladores.InsertarUnidad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertarEsquema</servlet-name>
        <url-pattern>/InsertarEsquema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarEsquemas</servlet-name>
        <url-pattern>/ListarEsquemas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserTabla</servlet-name>
        <url-pattern>/InserTabla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InseColumna</servlet-name>
        <url-pattern>/InseColumna</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarTablas</servlet-name>
        <url-pattern>/ListarTablas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarUnidad</servlet-name>
        <url-pattern>/InsertarUnidad</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
